<div class="content-container">
   <h1>Update Item</h1>

 <form action="/inv/update/<%= inv_id %>" method="post">

  <input type="hidden" name="inv_id" value="<%= inv_id %>" />

  <label for="classification_id">Classification:</label>
  <select name="classification_id" required>
    <option value="">Choose a Classification</option>
    <option value="1" <%= classification_id == 1 ? "selected" : "" %>>Custom</option>
    <option value="5" <%= classification_id == 5 ? "selected" : "" %>>Sedan</option>
    <option value="2" <%= classification_id == 2 ? "selected" : "" %>>Sport</option>
    <option value="3" <%= classification_id == 3 ? "selected" : "" %>>SUV</option>
    <option value="4" <%= classification_id == 4 ? "selected" : "" %>>Truck</option>
  </select>

  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" value="<%= inv_make || '' %>" required />

  <label for="inv_model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" value="<%= inv_model || '' %>" required />

  <label for="inv_year">Year:</label>
  <input type="text" id="inv_year" name="inv_year" value="<%= inv_year || '' %>" required />

  <label for="inv_description">Description:</label>
<textarea id="inv_description" name="inv_description" required><%= inv_description || '' %></textarea>

<label for="inv_price">Price:</label>
<input type="number" id="inv_price" name="inv_price" value="<%= inv_price || '' %>" required />

<label for="inv_image">Image URL:</label>
<input type="text" id="inv_image" name="inv_image" value="<%= inv_image || '' %>" required />

<label for="inv_thumbnail">Thumbnail URL:</label>
<input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%= inv_thumbnail || '' %>" required />

<label for="inv_miles">Miles:</label>
<input type="number" id="inv_miles" name="inv_miles" value="<%= inv_miles || '' %>" required />

<label for="inv_color">Color:</label>
<input type="text" id="inv_color" name="inv_color" value="<%= inv_color || '' %>" required />

  <button type="submit">Update Inventory</button>
</form>

</div>